.main-title {
    font-family: 'UnifrakturCook'
}

.header-container {
    width: 384.4px;
    height: 36px;
    padding: 8px 15px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}